@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap');

:root{
    --background-primary-color: #183414;
    --primary-color:#550C18;
    --white-font: #E8E9ED;
    --font-color: #fa070700;
    --chat-bubble-contact: #7983f2;
    --chat-bubble-received: #7983f2;
    --chat-container-color:#671e98;
    --border-and-hover-color: #798bf2;
    --page-container-color: #806305;
    --button-primary-color:#cc79f2;
}

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body, button, input{
    font-family: 'Open Sans', sans-serif;
}

body{
    max-height:100vh;
    max-width: 100vw;
    overflow: hidden;
}